html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.email-box{
    display: grid;
    /* grid-template-columns: 2/10fr 3/10fr 5/10fr; */
    grid-template-columns: 2fr 3fr 5fr;
}
.first-part{
    height: 100vh; 
    overflow: auto;
    background-color:  #bdc3c7; 
}
.second-part{
    height: 100vh; 
    background: gray;
}
.third-part{
    height: 100vh; 
    background: gray;
}

ul, li {
    list-style: none;
    padding: 0;
}

.taskbar {
    padding-top: 10vh;
    color: white;
}

.taskbar-item {
    padding-left: 3vw;
    width: 100%;
    font-size: 20px;
    padding-bottom: 20px;

}

li.taskbar-item:hover {
    background-color: #2c3e50;
}
    