.navbar-container {
    background: white;
    display: flex;
    width: 100%;
}

.username {
    margin-left:auto;
    font-family: 'Quicksand', sans-serif;
}

.nav-left {
    padding: 20px;
}

.nav-right {
    padding: 20px;
}
.nav-search{
    padding-left: 43vh;
}
.user-dp{
   background-image: url('https://placeimg.com/640/480/people');
   width: 30px;
   height: 30px;
   background-position: center;
   background-size: cover;
   border-radius: 100px;
   margin-right: 5px;
   margin-top: 5px;
}